/* Fonts */
@font-face {
    font-family: 'NBInternationalPro-Regular';
    src: url('fonts/NBInternationalPro-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'NBInternationalPro-Medium';
    src: url('fonts/NBInternationalPro-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Light';
    src: url('fonts/Plain-Light.ttf') format('truetype');   

}

@font-face {
    font-family: 'Plain-Medium';
    src: url('fonts/Plain-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Regular';
    src: url('fonts/Plain-Regular.ttf') format('truetype');

}

/* Custom properties */
:root {

    --primary-color:#DADFE3;
    --main-background-color:#050A1A;
    --secondary-color:#AADC64;     
    --accent-one:#5E5AFF; 
    --accent-two:#17161C;
    --accent-three:#B45622;


}


body {
    overflow-x: hidden;
    font-family: 'Plain-Regular', sans-serif; 
    color: var(--primary-color);
    background-color: var(--main-background-color);

}


h1{
    font-family: 'NBInternationalPro-Medium', sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
}


.title-text{
    font-family: 'NBInternationalPro-Medium', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;

}

span{
    color: var(--secondary-color);
}


article{
    border-color: var(--main-background-color);
}

img{
    border-radius: 20px;    
    width: 90% ;
}

.green-circle{
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 100px;
    height: 100px  ;
    place-content: center center;
}

.green-circle p{
    font-family: 'Plain-Regular',sans-serif;
    text-align: center;
    font-size: 0.7em;
    color: var(--main-background-color);
}