/* Fonts */
@font-face {
    font-family: 'NBInternationalPro-Regular';
    src: url('fonts/NBInternationalPro-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'NBInternationalPro-Medium';
    src: url('fonts/NBInternationalPro-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Light';
    src: url('fonts/Plain-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Medium';
    src: url('fonts/Plain-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Regular';
    src: url('fonts/Plain-Regular.ttf') format('truetype');

}

/* Custom properties */
:root {

    --primary-color:#050A1A;
    --main-background-color:#DADFE3;
    --secondary-color:#AADC64;     
    --accent-one:#5E5AFF; 
    --accent-two:#17161C;
    --accent-three:#B45622;


}



body {
    overflow-x: hidden;
    font-family: 'Plain-Regular', sans-serif; 
    color: var(--primary-color);
    background-color: var(--main-background-color);

}


h1{
    font-family: 'NBInternationalPro-Medium', sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
}

.title-text{
    font-family: 'NBInternationalPro-Medium', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;

}

span{
    color: var(--secondary-color);
}


article{
    border-color: var(--main-background-color);
    justify-content: center;
}

img{
    border-radius: 20px;
    width: 90% ;
}

dl{
    display: flex ;
    flex-direction: row;
}

/* Mobiel*/

  
  /* Tablet*/
  @media (min-width: 768px) {
    h1{
        font-family: 'NBInternationalPro-Medium', sans-serif;
        font-size: 8em;
        text-transform: uppercase;
    }
    
    .title-text{
        font-family: 'NBInternationalPro-Medium', sans-serif;
        font-size: 2em;
        text-transform: uppercase;
    
    }
  }
  
  /* Desktop */
  @media (min-width: 1025px) {
    h1{
        font-family: 'NBInternationalPro-Medium', sans-serif;
        font-size: 8em;
        text-transform: uppercase;
    }
    
    .title-text{
        font-family: 'NBInternationalPro-Medium', sans-serif;
        font-size: 2em;
        text-transform: uppercase;
    
    }
    
  }
  