/* Fonts */
@font-face {
    font-family: 'NBInternationalPro-Regular';
    src: url('fonts/NBInternationalPro-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'NBInternationalPro-Medium';
    src: url('fonts/NBInternationalPro-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Light';
    src: url('fonts/Plain-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Medium';
    src: url('fonts/Plain-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Plain-Regular';
    src: url('../fonts/Plain-Regular.ttf') format('truetype');

}

/* Custom properties */
:root {

    --primary-color: #050A1A;
    --main-background-color: #DADFE3;
    --secondary-color: #AADC64;
    --accent-purple: #5E5AFF;
    --accent-dark: #17161C;
    --accent-orange: #B45622;

    /* font sizes*/
    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 3rem;

    --font-size-title-xxs: 3rem;
    --font-size-title-xs: 4rem;
    --font-size-title-sm: 5rem;
    --font-size-title-md: 6rem;
    --font-size-title-lg: 7rem;
    --font-size-title-xl: 8rem;
    --font-size-title-xxl: 9rem;
    --font-size-title-xxxl: 10rem;

    /* Border radius slides  */
    --border-radius: 1.25rem;

}

body {
    font-family: 'Plain-Regular', sans-serif;
    color: var(--primary-color);
    background-color: var(--main-background-color);
}

h1 {
    font-family: 'NBInternationalPro-Medium', sans-serif;
    font-size: var(--font-size-title-xxs);
    text-transform: uppercase;
    margin-bottom: 0;


    /* Tablet  */
    @media (min-width: 768px) {
        h1 {
            font-size: var(--font-size-title-xl);
        }
    }

    /* Desktop */
    @media (min-width: 1025px) {
        h1 {
            font-size: var(--font-size-title-xxxl);
        }
    }
}

h1+.title-text {
    margin-top: 0;

}

.title-text {
    font-size: var(--font-size-xl);
    text-transform: uppercase;



    /* Tablet*/
    @media (min-width: 768px) {
        .title-text {
            font-size: var(--font-size-xxl);
        }
    }

    /* Desktop */
    @media (min-width: 1025px) {
        .title-text {
            font-size: var(--font-size-xxxl);
        }
    }
}


span {
    color: var(--secondary-color);
}

/* Article content */
article {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    width: 80%;



    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out;
}

article:hover {
    transform: scale(1.01);
}
  